.button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $color-primary;
	min-height: 46px;
	padding: 10px 50px;
	font-family: $font-2;
	color: $color-secondary;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
	border-radius: 2px;
	transition: .2s background-color ease;
	&:hover {
		background-color: darken($color-primary, 5%);
	}
	&:focus {
		background-color: darken($color-primary, 5%);
		outline: 0;
		box-shadow: 0 0 0 2px #EF8786;
	}
}