.footer {
	background-color: #3A3D63;
	&__inner {
	}
	&__items {
		flex-wrap: wrap;
		padding-top: 69px;
		padding-bottom: 69px;
		display: flex;
		justify-content: space-between;
	}
	&__item {
		width: 33.333%;
		max-width: 370px;
	}
	&__copyright {
		min-height: 95px;
		background-color: #303353;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #7F7F7F;
		font-family: $font-1;
		font-size: 14px;
	}
}

@media (max-width: $breakpoint-tablet) {
	.footer {
		&__items {
			padding-top: 35px;
			padding-bottom: 35px;
		}
	}
}

@media (max-width: $breakpoint-mobile) {
	.footer {
		&__items {
			padding-top: 25px;
			padding-bottom: 25px;
		}
		&__item {
			width: 100%;
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
		&__copyright {
			font-size: 12px;
		}
	}
}

@import 'footer-item';