* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  height: 100%; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.container {
  max-width: 1170px;
  width: 95%;
  margin: auto; }

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E74544;
  min-height: 46px;
  padding: 10px 50px;
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  border-radius: 2px;
  transition: .2s background-color ease; }
  .button:hover {
    background-color: #e42f2d; }
  .button:focus {
    background-color: #e42f2d;
    outline: 0;
    box-shadow: 0 0 0 2px #EF8786; }

.hero {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position: center; }
  .hero__inner {
    min-height: 750px; }
  .hero__content {
    margin: auto;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .hero__title {
    font-size: 65px;
    font-weight: 700;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 71px;
    margin-bottom: 23px; }
  .hero__text {
    font-size: 22px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    line-height: 33px;
    text-align: center;
    margin-bottom: 73px; }

@media (max-width: 1024px) {
  .hero__inner {
    min-height: 550px; }
  .hero__content {
    min-height: 450px; }
  .hero__title {
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 20px; }
  .hero__text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 50px; } }

@media (max-width: 512px) {
  .hero__inner {
    min-height: 450px; }
  .hero__content {
    min-height: 350px; }
  .hero__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 15px; }
  .hero__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 25px; } }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  padding-top: 32px;
  padding-bottom: 32px; }
  .header__toggle {
    display: none;
    width: 32px;
    height: 32px;
    border: 0;
    background: transparent;
    cursor: pointer; }
    .header__toggle span {
      height: 3px;
      width: 100%;
      background-color: #fff;
      display: block;
      border-radius: 10px; }
      .header__toggle span:not(:last-child) {
        margin-bottom: 4px; }
  .header__nav {
    width: 100%; }
  .header__nav-list {
    float: right;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between; }
  .header__nav-link {
    font-size: 13px;
    font-family: "Raleway", sans-serif;
    opacity: .75;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600; }
    .header__nav-link:hover {
      opacity: 1; }

@media (max-width: 1024px) {
  .header__toggle {
    display: block; }
  .header__nav {
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    position: fixed;
    opacity: 0;
    z-index: 999;
    transition: transform .5s ease, opacity .5s ease;
    transform: translateX(-500px); }
    .header__nav--active {
      opacity: 1;
      transform: translateX(0); }
  .header__nav-list {
    max-width: 100%;
    height: 100%;
    flex-direction: column;
    box-shadow: 0 0 5px 3px #111; }
  .header__nav-item {
    height: 100%; }
  .header__nav-link {
    height: 100%;
    width: 100%;
    background-color: #31344E;
    display: flex;
    align-items: center;
    opacity: 1;
    justify-content: center;
    transition: background-color .2s ease; }
    .header__nav-link:hover {
      background-color: #E74544; } }

.features__inner {
  padding-top: 120px;
  padding-bottom: 120px; }

.features__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.features__item {
  width: 30%;
  max-width: 310px;
  margin-bottom: 71px; }
  .features__item:nth-child(n+4) {
    margin-bottom: 0; }

@media (max-width: 1024px) {
  .features__inner {
    padding-top: 60px;
    padding-bottom: 60px; }
  .features__item {
    width: 40%;
    margin-bottom: 32px; }
    .features__item:nth-child(n+4) {
      margin-bottom: 32px; }
    .features__item:nth-child(n+5) {
      margin-bottom: 0; } }

@media (max-width: 512px) {
  .features__inner {
    padding-top: 32px;
    padding-bottom: 32px; }
  .features__item {
    width: 85%; }
    .features__item:nth-child(5) {
      margin-bottom: 32px; } }

.features-item__icon {
  user-select: none;
  display: block;
  margin: auto;
  margin-bottom: 32px; }

.features-item__title {
  font-size: 14px;
  color: #2C2F32;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 19px; }

.features-item__text {
  color: #6B7178;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  line-height: 21px; }

@media (max-width: 1024px) {
  .features-item__icon {
    margin-bottom: 20px;
    height: 55px; }
  .features-item__title {
    margin-bottom: 10px; }
  .features-item__text {
    line-height: 18px; } }

@media (max-width: 512px) {
  .features-item__icon {
    height: 35px; }
  .features-item__title {
    font-size: 12px; }
  .features-item__text {
    font-size: 13px; } }

.works__items {
  display: flex;
  flex-wrap: wrap; }

.works__item {
  width: 25%; }

@media (max-width: 1024px) {
  .works__item {
    width: 50%; } }

.works-item {
  position: relative;
  box-shadow: 0 0 0 1px #fff; }
  .works-item:hover .works-item__overlay {
    opacity: .9; }
  .works-item:hover .works-item__content {
    opacity: 1; }
  .works-item__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s opacity ease;
    opacity: 0;
    text-align: center; }
  .works-item__title {
    font-size: 14px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px; }
  .works-item__info {
    font-size: 14px;
    color: #fff;
    font-family: "Raleway", sans-serif; }
  .works-item__image {
    display: block;
    height: 100%;
    width: 100%;
    position: relative; }
  .works-item__overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #E74544;
    opacity: 0;
    position: absolute;
    transition: .2s opacity ease; }

@media (max-width: 512px) {
  .works-item__title {
    font-size: 12px;
    margin-bottom: 6px; }
  .works-item__info {
    font-size: 12px; } }

.team__inner {
  min-height: 783px;
  padding-top: 100px;
  padding-bottom: 100px; }

.team__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.team__item {
  width: 24%;
  max-width: 270px; }

@media (max-width: 1024px) {
  .team__inner {
    min-height: auto;
    padding-top: 50px;
    padding-bottom: 50px; }
  .team__items {
    justify-content: space-between; }
  .team__item {
    width: 40%;
    max-width: 100%;
    margin-bottom: 50px; }
    .team__item:nth-child(n+3) {
      margin-bottom: 0; } }

@media (max-width: 512px) {
  .team__items {
    justify-content: space-between; }
  .team__item {
    margin-bottom: 25px;
    width: 100%; }
    .team__item:nth-child(n+3) {
      margin-bottom: 25px; }
    .team__item:last-child {
      margin-bottom: 0; } }

.team-item__photo {
  margin-bottom: 21px;
  width: 100%; }

.team-item__name {
  color: #2C2F32;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 8px; }

.team-item__position {
  color: #E74544;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-bottom: 23px; }

.team-item__text {
  color: #6B7178;
  font-size: 14px;
  line-height: 21px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 25px; }

.team-item__social {
  display: flex; }

.team-item__social-item {
  border: 1px solid #E7EBED;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .team-item__social-item:not(:last-child) {
    margin-right: 4px; }

.team-item__social-icon {
  fill: #C5C9CB;
  height: 18px; }

@media (max-width: 1024px) {
  .team-item__photo {
    margin-bottom: 10px; }
  .team-item__name {
    font-size: 18px;
    margin-bottom: 5px; }
  .team-item__position {
    font-size: 12px;
    margin-bottom: 9px; }
  .team-item__text {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 10px; } }

@media (max-width: 512px) {
  .team-item__photo {
    margin-bottom: 5px; }
  .team-item__position {
    font-size: 12px; } }

.testimonials__inner {
  display: flex;
  min-height: 500px;
  position: relative; }

.testimonials__photo {
  width: 50%; }

.testimonials__photo-item {
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  display: none;
  float: right;
  animation-name: fade;
  animation-duration: .4s;
  animation-fill-mode: forwards; }
  .testimonials__photo-item--active {
    animation-direction: reverse;
    display: block; }

.testimonials__feedback {
  background-color: #523449;
  width: 50%;
  padding-bottom: 130px; }

.testimonials__feedback-item {
  max-width: 500px;
  display: none;
  animation-name: fade;
  animation-duration: .4s;
  animation-fill-mode: forwards;
  padding-top: 110px;
  padding-left: 85px; }
  .testimonials__feedback-item--active {
    animation-direction: reverse;
    display: block; }

.testimonials__feedback-text {
  color: #fff;
  font-family: Cardo, serif;
  font-size: 36px;
  line-height: 42px;
  font-style: italic;
  margin-bottom: 30px; }

.testimonials__feedback-name {
  color: #fff;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.testimonials__buttons {
  display: flex;
  position: absolute;
  width: 50%;
  max-width: 585px;
  width: 48%;
  left: 50%;
  bottom: 100px;
  justify-content: center; }

.testimonials__button {
  opacity: .2;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 0;
  transition: opacity .2s ease;
  cursor: pointer; }
  .testimonials__button:not(:last-child) {
    margin-right: 8px; }
  .testimonials__button:hover {
    opacity: .8; }
  .testimonials__button--active {
    opacity: 1; }
    .testimonials__button--active:hover {
      opacity: 1; }

@keyframes fade {
  0% {
    opacity: 1; }
  100% {
    opacity: .2; } }

@media (max-width: 1024px) {
  .testimonials__inner {
    flex-wrap: wrap; }
  .testimonials__photo {
    width: 100%; }
  .testimonials__photo-item {
    min-height: 100%;
    min-width: 100%;
    width: 100%; }
  .testimonials__feedback {
    width: 100%;
    padding-bottom: 25px; }
  .testimonials__feedback-item {
    max-width: 100%;
    padding-top: 25px;
    padding-left: 25px;
    padding: 25px;
    min-height: 250px; }
  .testimonials__feedback-text {
    padding-right: 50px;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 25px; }
  .testimonials__feedback-name {
    font-size: 13px;
    font-family: "Raleway", sans-serif; }
  .testimonials__buttons {
    width: 100%;
    max-width: 100%;
    left: 0;
    bottom: 32px; } }

@media (max-width: 512px) {
  .testimonials__feedback-text {
    padding-right: 25px;
    font-size: 24px;
    line-height: 24px; }
  .testimonials__feedback-name {
    font-size: 12px;
    font-weight: 600;
    font-family: "Raleway", sans-serif; }
  .testimonials__buttons {
    bottom: 20px; } }

.download__inner {
  min-height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.download__title {
  font-size: 28px;
  line-height: 21px;
  color: #2C2F32;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 15px; }

.download__text {
  text-align: center;
  font-size: 13px;
  line-height: 21px;
  font-family: "Raleway", sans-serif;
  color: #2C2F32;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 36px; }

.download__button {
  max-width: 280px; }

@media (max-width: 1024px) {
  .download__inner {
    min-height: 250px; }
  .download__title {
    font-size: 21px;
    margin-bottom: 10px; }
  .download__text {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 25px; } }

@media (max-width: 512px) {
  .download__inner {
    min-height: 200px; }
  .download__title {
    font-size: 18px; }
  .download__text {
    margin-bottom: 10px; } }

.footer {
  background-color: #3A3D63; }
  .footer__items {
    flex-wrap: wrap;
    padding-top: 69px;
    padding-bottom: 69px;
    display: flex;
    justify-content: space-between; }
  .footer__item {
    width: 33.333%;
    max-width: 370px; }
  .footer__copyright {
    min-height: 95px;
    background-color: #303353;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #7F7F7F;
    font-family: "Open Sans", sans-serif;
    font-size: 14px; }

@media (max-width: 1024px) {
  .footer__items {
    padding-top: 35px;
    padding-bottom: 35px; } }

@media (max-width: 512px) {
  .footer__items {
    padding-top: 25px;
    padding-bottom: 25px; }
  .footer__item {
    width: 100%; }
    .footer__item:not(:last-child) {
      margin-bottom: 25px; }
  .footer__copyright {
    font-size: 12px; } }

.footer-item__title {
  font-size: 14px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 19px;
  text-align: center; }

.footer-item__text {
  color: #fff;
  opacity: .5;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 22.5px;
  text-align: center;
  margin-top: -5px; }

.footer-item__social {
  display: flex;
  justify-content: center; }

.footer-item__social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 2px solid #fff;
  border-radius: 1px; }
  .footer-item__social-item:not(:last-child) {
    margin-right: 7px; }

.footer-item__social-icon {
  height: 18px;
  fill: #fff; }

@media (max-width: 1024px) {
  .footer-item__title {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 15px; }
  .footer-item__text {
    font-size: 13px;
    line-height: 15px;
    margin-top: -5px; } }
